{% load i18n %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load widget_tweaks %}
{% load static  %}

<!DOCTYPE HTML>
{% for language_code, language_name in LANGUAGES %}
{% get_language_info for language_code as lang %}
{% language language_code %}
<html lang="{{ language_code }}">
{% endlanguage %}
{% endfor %}
    <head>
        <!--=============== basic  ===============-->
        <meta charset="UTF-8">
        <title>CENTRO COMUNITARIO -ISLA FLOREANA</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="robots" content="index, follow"/>
        <meta name="keywords" content=""/>
        <meta name="description" content=""/>
        <!--=============== css  ===============-->	
        <link type="text/css" rel="stylesheet" href="{% static 'css/reset.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'css/plugins.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
        <!--=============== favicons ===============-->
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    </head>
    <body>
        <div class="loader-wrap">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
       
        <div id="main">
            {% block content %}
            
            {% endblock %}
        </div>
        <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/slider.js' %}"></script>
    </body>
</html>